p{
    text-align: center;
    font-family: 'inter';
    font-size:32px;
    font-weight: 700px;
    color: #AB6700;
    width: 700px;
    line-height: 39px;
    font-style: normal;
    position: absolute;
    top:49%;
    left: 31.5%;
}